body{
    background-color:#4b3785;
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items:center ;
    overflow: hidden;
}

h1{
    font-family: 'Lucida Calligraphy';
    text-align: center;
    color: #ffffff;
    font-size: 3.5em;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

#start-img{
    display: block;
    position:absolute;
    left:45%; 
    top:63%; 
    height: 10%; 
    width: 15;
    padding: 0%;
    margin:0%;
}

#start-img:hover{
    cursor: pointer;
    transform: scale(1.07);
}

#Sort1{
    position:absolute; 
    left:-2%; 
    top:35%; 
    height: 48%; 
    width: 30%;
}

#Sort2{
    position:absolute;
    left:2%;
    top:2%;
    height:20%;
    width: 35%;
}

#Sort3{
    position:absolute;
    left:45%;
    top:2%;
    height:30%;
    width: 30%;
    margin: 0;
    padding: 0;
}

#Sort4{
    position:absolute;
    right: -3%;
    top: 18%;
    height: 48%;
    width:25%;
}

.bars{
    position: absolute;
    bottom:0%;
    height: 250px;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.bar{
    width: 20px;
    height: 99px;
    background: #ffffff;
    border-radius: 10px;
    animation: moveBars 1s ease-in-out infinite;
    
}